@page "/weather"

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates embedding a Blazor component <b>built from a markdown file (.md.)</b></p>
<p>See the source code <a href="https://github.com/jsakamoto/MD2RazorGenerator/blob/main/SampleSites/BlazorWasmApp1/Components/WeatherForecastTable.md?plain=1" target="_blank">here</a> as well.</p>

<WeatherForecastTable />
