@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/jsakamoto/MD2RazorGenerator/" target="_blank">About MD2RazorGenerator</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
